html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(2, 87, 75);
}

h1{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    
}

footer h4 {
    color: whitesmoke;
    top: 80%;
    left: 47%;
    position: absolute;   
}

footer h5 {
  color: whitesmoke;
  top: 83%;
  left: 45%;
  position: absolute;   
}

footer h6 {
  color: whitesmoke;
  top: 85%;
  left: 49%;
  position: absolute;   
}

/* CSS ASOCIADO AL LOGIN */

.login-box {
    width: 500px;
    height: 400px;
    background: cornsilk;
    color: blue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 24px;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 20px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

/* CSS ASOCIADO AL MENU DE NAVEGACION */

nav {
  height: 60px;
  background-color:#17181C;
  text-align: center;
}

.main-nav {
  list-style: none;
  padding:18px;  
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a { /* Indica que especificamente se afecta todas las etiquetas "a" que esta dentro de .main-nav__item */
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
}

.main-nav__item a:hover {
  color: red;
}

.main-nav__item a:active {
  color: blue;
}

/* EJEMPLOS DE ELEMENTOS */
/*Se mandan a llamar con :: */

.main-nav__item a::after {
  content: "   ";
}


/* css asociado a la información sobre el la sesion nombre y tipo del usuario */
.info-sesion {
  color: #fff;
}

/*Css para indicar el modulo en el que se encuentra*/

.modulo-presente {
  color: #fff; /*Pone color blanco al texto que indica el modulo donde se encuentra*/
}

/*CSS del boton de agregar elemento en el modulo presente */
.box-add {
  background-color: #fff;
  width: 200px;
  border-radius: 20px;
  padding-left: 10px;
  padding: 10px;
}

.box-add:hover {
  background-color: #ffc107;
}

.box-add a { /* Indica que especificamente se afecta todas las etiquetas "a" que esta dentro de .main-nav__item */
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  padding: 12px;
}

.box-add a:hover {
  color:red;
}

.box-add a:active {
  color: blue;
}

/* CSS asociado a las tablas */

.table-box {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow:scroll;
  height:200px;
  width: 99%;
}

.table-box table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #fff;
  width: 99%;
  
}

.table-box table th {
  background-color: yellow;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding:5px; 
}

.table-box table tr {
  text-align: center;
  border-bottom: 1px solid #ddd;
}



.table-box table tr:hover  {
  background: rgb(238, 233, 233);
}

.table-box table td {
  align-content: center;
  padding-left: 5px;
}

/*CSS asociado a los botones editar y eliminar de cada registro de las tablas */

.nav-edit-delete {
  list-style: none;
  padding:2px;  

}

.nav-edit-delete_item-edit {
  background-color: greenyellow;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;

}

.nav-edit-delete_item-edit a { 
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 1px;
  
}

.nav-edit-delete_item-edit a:hover {
  color: blue;
}

.nav-edit-delete_item-delete {
  background-color: red;
  display: inline-block;
  padding: 1px;
  border-radius: 5px;

}

.nav-edit-delete_item-delete a { 
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 1px;
}

.nav-edit-delete_item-delete a:hover {
  color: yellow;
}